<template name='ads'>
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "zerovapor-20";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "1618ae47dc176b2cf158bef9b5f93833";
amzn_assoc_emphasize_categories = "172282,979455011,2238192011";
</script>
<!-- <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->
</template>
