template(name='createBluePrint')
    .container
        .page-header
            h1 Create a Blueprint

        +quickForm collection="bluePrints" id="editBluePrint" type="insert" omitFields='rating,user,pubDate,favCount'