template(name='createBluePrint')
    .container
        .page-header
            h1 Create a Blueprint

        +quickForm collection="bluePrints" id="insertBluePrint" type="insert" omitFields='rating,user,pubDate'