template(name='listingEntry')
    .col-lg-3.entry
        .thumbnail
            a(href=url)
                img(src=image alt=title)
            .caption
                h3.truncate {{title}}
                p
                    each shortTags
                        span(class='badge') {{this}}
                p
                    span(class='glyphicon  glyphicon-heart')
                        strong  {{favCount}}
                p(class='right-align')
                    a(href=url class='btn btn-primary') View
