template(name='setUserName')
  .container
      .page-header
          h1 Please enter a username
        
      p
        form(name='setUsername')
          label(for='userName') Looks like you need a username.
          br
          input(name='userName' id='userName' placeHolder='Username' type='text')
          input(name='submit' id='submitUsername' type='submit' value='Submit')
          
