template(name='single')
    .container
        .page-header
            h1 {{doc.title}}
        .row
            .col-lg-4
                a(href=doc.image data-lightbox='image')
                    img(src=doc.image class='img-thumbnail')
                hr
                .panel.panel-default
                    .panel-heading Info
                    table(class='table')
                        tbody
                            tr
                                td Author ::
                                if Template.subscriptionsReady
                                    td {{user.username}}
                            tr
                                td Release Date::
                                if Template.subscriptionsReady
                                    td {{pubDate}}


            .col-lg-8
                .panel.panel-default
                    .panel-heading Tags
                    .panel-body
                        each doc.tags
                            span(class='badge') {{this}}
                .panel.panel-default
                    .panel-heading Details
                    .panel-body {{{renderMarkdown doc.description}}}
                .panel.panel-default
                    .panel-heading BluePrint String
                        button(id='bluePrintBtn' class='btn btn-default' data-clipboard-text=doc.string) Copy To Clipboard
                    .panel-body#string  {{{doc.string}}}