template(name='_loginButtonsAdditionalLoggedInDropdownActions')
    a(href=bluePrintLink class='btn btn-default btn-block') My Blueprints
    a(href=favsLink class='btn btn-default btn-block') My Favorites