template(name='bluePrintForm')
    .container
        .page-header
            h1 Create a Blueprint

        +quickForm collection="bluePrints" id="bluePrintForm" type=formType omitFields='rating,user,pubDate,favCount,lastUpdate' doc=doc