template(name='bluePrintForm')
    .container
        .page-header
            h1 Create a Blueprint

        +autoForm collection="bluePrints" id="bluePrintForm" type=formType doc=doc
            .row
                .col-lg-6
                    +afQuickField(name='title')
                .col-lg-6
                    label(for="tags") Tags
                      ul
                        li 
                          small Press 'Enter' after each tag to add it
                        li
                          small  Please try to use tags already in the system
                    +afFieldInput(name='tags')
            .row
                .col-lg-6
                    +afQuickField(name='image')
                .col-lg-6
                    +afQuickField(name='string' value=blueprintStringFromFile disabled=true)
            .row
                .col-lg-12
                    +afQuickField(name='description')
            .row
                .col.lg-6
                  +afQuickField(name='bpFile' id='bpFile' type='file')
            
                .col-lg-1.col-lg-offset-11
                    button(type='submit' class='btn btn-primary') Submit
